# gpu; otherwise just onnxruntime
onnxruntime-gpu==1.15.1
# change --extra-index-url. see https://pytorch.org/ about how to install correct version for you
# e.g cu121
# --extra-index-url=https://download.pytorch.org/whl/cu121
# e.g cu118
--extra-index-url=https://download.pytorch.org/whl/cu118
torch==2.0.0+cu118
torchvision==0.15.1+cu118

# other, already in setup.py
opencv-python==4.8.0.76
onnx==1.14.0
insightface==0.7.3
numpy==1.24.3
gfpgan
docpie
tqdm

scikit-image==0.22.0
