opencv-python
onnx
insightface
numpy
gfpgan
docpie
tqdm
# gpu; otherwise just onnxruntime
onnxruntime-gpu
# change --index-url. see https://pytorch.org/ about how to install correct version for you
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121