# gpu; otherwise just onnxruntime
onnxruntime-gpu
# change --index-url. see https://pytorch.org/ about how to install correct version for you
--extra-index-url=https://download.pytorch.org/whl/cu121
torch
torchvision

# other, already in setup.py
opencv-python
onnx
insightface
numpy
gfpgan
docpie
tqdm
